/* 폰트 가져오기 */
@font-face {
    font-family: "NanumPenScript";
    src: url("/NanumPenScript-Regular.ttf");
}

/* 배경화면 설정 */
html, body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

/* 메인 화면 설정 */
#root {
    background-color: white;
    max-width: 600px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
    padding: 0px 20px;
}

/* 폰트 설정 */
body * {
    font-family: "NanumPenScript";
}