/* Header 전체 기본 설정 */
.Header {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
    display: flex;
}

/* 가운데 title 부분 */
.Header .header_center {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

/* 왼쪽 컴포넌트 부분 */
.Header .header_left {
    width: 25%;
    justify-content: flex-start;
}

/* 오른쪽 컴포넌트 부분 */
.Header .header_right {
    width: 25%;
    justify-content: flex-end;
}