.Editor {
    display: flex;
    gap: 10px;
}

/* 입력창 */
.Editor input {
    /* 부모요소를 넘지 않는 선에서 최대한 길게 */
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

/* 버튼 */
.Editor button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: rgb(37, 147, 255);
    color: white;
    border-radius: 5px;
}